name: ci
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [18, 20]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - name: Install CMake
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install -y cmake
      - name: Install CMake (macOS)
        if: matrix.os == 'macos-latest'
        run: brew install cmake
      - name: Install CMake (Windows)
        if: matrix.os == 'windows-latest'
        run: choco install -y cmake --version=3.27.9
      - run: npm ci
      - run: npm run compile
      - run: npm run build
      - run: npm test